.jumbotron {
  background-image: url("https://d2hud39msfk901.cloudfront.net/www.bustle.com/production/images/pattern_bg_light-8f4d97304bbca8836140f8985abc5e67.png");
  background-size: 80px;
  margin-bottom: 0;
  padding: 0;
}
