<h1>User Comments</h1>
<div class="row">
  {{#each model as |comment|}}
    {{comment-display comment=comment}}
  {{/each}}
</div>

<h1>Add Article</h1>
{{new-article save="save"}}

<h1>Update Articles</h1>
